
/* ================================================= */
  * {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }
  
  body, h1, h2 {
    color: rgb(80, 80, 80);
    background-color: rgb(161, 161, 161);
  }
  .card {
    border: 2px solid lightslategray;
    padding: 20px 20px;
    color: grey;
    background-color: rgb(223, 223, 223);
    border-radius: 12px;
    border-top-left-radius: 0px;
    width: 500px;
    height: 100px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
  }
  
  .separator {
    margin: 20px 20px;
  }

  .black-card {
    width: 215px;
    height: 114px;
    background-color: black;
  }
  
  .black-card-title {
    padding-top: 6px;
    padding-left: 8px;
    font-size: 9px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-align: start;
  }
  
  .black-card-subtitle {
    padding-left: 8px;
    font-weight: 500;
    font-size: 7px;
    color: white;
    margin-top: 2px;
    text-transform: lowercase;
    text-align: start;
  }