* {
  box-sizing: border-box;
  /* box-sizing = supaya tidak memengaruhi height dan width */
  font-family: 'Inter', sans-serif;
}

#container div.image, #container div.item {
  display: inline-block;
}

.image {
  width: fit-content;
  height: fit-content;
  /* border: solid hotpink; */
}

.item {
  margin-left: 40px;
  overflow: scroll;
  display: inline;
  text-align: start;
  /* border: solid hotpink; */
}

.item .icon {
  width: 20px;
  height: 20px;
  margin-left: 380px;
  background-color: black;
}

.item .cart {
  margin-top: 5px;
  margin-left: 367.5px;
  font-size: x-small;
  font-weight: bolder;
}

.item .cart:hover, .item .icon:hover {
  text-decoration: underline;
  cursor: pointer;
}

.item #color {
  font-size: medium;
  font-weight: normal;
}

.item #name {
  margin-top: 5px;
  font-size: xx-large;
  font-weight: 800;
}

.item #price {
  margin-top: 15px;
  font-weight: bold;
}

.item #desc {
  width: 350px;
  height: 135px;
  margin-top: 50px;
  font-size: small;
  color: rgb(0, 0, 0, 0.3);
}

.item #size #mode {
  color: rgb(0, 0, 0, 0.3);
  font-size: small;
}

.item #size .mode {
  font-weight: bolder;
  font-size: medium;
  margin-left: 1px;
}

.item #size .mode:hover{
  cursor: pointer;
  background-color: tomato;
}

.item #note {
  margin-top: 7.5px;
  margin-left: 367.5px;
  font-size: x-small;
  color:#000000b7;
  text-align: right;
}

.cart-button {
  width: 150px;
  height: 50px;
  color: white;
  background-color: black;
  font-size: x-small;
  margin-top: 50px;
  transition: all 150ms ease-out;
}

.cart-button:hover{
  text-decoration: underline;
  cursor: pointer;
  font-size: small;
  background-color: whitesmoke;
  color: black;
  border-radius: 25px;
}